<div class="container">

    <div class="card-group">
        <div class="card">
            <img src="assets/images/chocolate.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h6 style="text-align: center;">Chocolate Combo</h6>
            </div>
        </div>
        <div class="card">
            <img src="assets/images/glasstocken.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h6 style="text-align: center;">Glass Token</h6>
            </div>
        </div>
        <div class="card">
            <img src="assets/images/greetings.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h6 style="text-align: center;">Greetings</h6>
            </div>
        </div>
    </div>
    <br>

    <div class="card-group">
        <div class="card">
            <img src="assets/images/customisedcup.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h6 style="text-align: center;">Customised Cup</h6>
            </div>
        </div>
        <div class="card">
            <img src="assets/images/customisedpillow.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h6 style="text-align: center;">Customised Pillow</h6>
            </div>
        </div>
        <div class="card">
            <img src="assets/images/customisedmagnet.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h6 style="text-align: center;">Customised Magnet</h6>
            </div>
        </div>
    </div>
    <br>

    <div class="card-group">
        <div class="card">
            <img src="assets/images/teddy.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h6 style="text-align: center;">Teady Bears</h6>
            </div>
        </div>
        <div class="card">
            <img src="assets/images/trinketbox.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h6 style="text-align: center;">Trinket Box</h6>
            </div>
        </div>
        <div class="card">
            <img src="assets/images/ledwallhanging.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h6 style="text-align: center;">LED Wall Hanging</h6>
            </div>
        </div>
    </div>
    <br>

    <ngb-pagination [collectionSize]="70" [(page)]="page" [disabled]='isDisabled'></ngb-pagination>

</div>