<div style="background-image: url(assets/images/background.jpg);
height: auto;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;">

  <div class="container">
    <ul ngbNav #nav="ngbNav" [(activeId)]="active" style="padding-top: 20px; padding-bottom: 10px;">
      <li [ngbNavItem]="1">
        <a ngbNavLink routerLink="/">Home</a>
      </li>
      <li [ngbNavItem]="2">
        <a ngbNavLink routerLink="/about">About</a>
      </li>
      <li [ngbNavItem]="3">
        <a ngbNavLink routerLink="/gallery">Gallery</a>
      </li>
      <li [ngbNavItem]="4">
        <a ngbNavLink routerLink="/contact">Contact</a>
      </li>
    </ul>
  </div>

  <router-outlet></router-outlet>

  <div [ngbNavOutlet]="nav" class="mt-2"></div>

  <app-footer></app-footer>

</div>