<div class="container">

    <h1 style="color: white;">GIFTS & GREETINGS</h1>
    <br>

    <div>
        <ngb-carousel>
            <ng-template ngbSlide>
                <div class="picsum-img-wrapper">
                    <img src="assets/images/shop1.jpg" alt="Angular Carousel 1">
                </div>
            </ng-template>
            <ng-template ngbSlide>
                <div class="picsum-img-wrapper">
                    <img src="assets/images/shop2.jpg" alt="Angular Carousel 2">
                </div>
            </ng-template>
            <ng-template ngbSlide>
                <div class="picsum-img-wrapper">
                    <img src="assets/images/shop3.jpg" alt="Angular Carousel 3">
                </div>
            </ng-template>
        </ngb-carousel>
    </div>

    <br>
    <div class="containe">
        <div class="row">
            <div class="col-md-3" style="color:white">
                <h6>Recent Customer Ratings</h6>
                <p>Mr. Patil</p>
                <ngb-rating [rate]="3"></ngb-rating>
                <br><hr style="color: white;">
                <p>Mrs. Shah</p>
                <ngb-rating [rate]="4"></ngb-rating>
                <br><hr style="color: white;"><br>

            </div>
            <div class="col-md-9">
                <p style="color: white;">A gift shop or souvenir shop is a store primarily selling souvenirs,
                    memorabilia, and other items
                    relating to a particular topic or theme. The items sold often include coffee mugs, stuffed animals,
                    toys, t-shirts, postcards, handmade collections and other souvenirs, intended to be kept by the
                    buyer
                    as a memento of their visit, or given to another as a gift.
                    Gift shops are normally found in areas visited by many tourists. Hotels and motels in Canada and the
                    United States often feature a gift shop near their entrance. Venues such as zoos, aquariums,
                    national
                    parks, theme parks, and museums have their own gift shops as well; in some cases these shops sell
                    items
                    of higher value than gift shops not associated with a venue, as well as trinkets. These stores are
                    sometimes a source of financial support for educational institutions.
                </p>
            </div>
        </div>
    </div>
</div>